# 1학년 정보 프로그래밍

### 1. 배열
 - 배열은 동일한 성격의 자료를 관리하기 쉽게 하나로 묶어 놓은 형태의 저장 공간

In [1]:
a = [0,0,0]

a[0] = 50
a[1] = 20
a[2] = a[0] + a[1]

print(a[2])

70

### 2. 배열의 장점

In [4]:
a = [72, 31, 88, 34, 56, 67, 44, 39, 87, 77]

total = 0

for i in range(10):
    total = total + a[i]

print("합계: ", total)

합계:  595

### 3. 배열의 종류

In [5]:
a = [[10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]]

for i in range(3):
    for j in range(3):
        print(i, j, a[i][j])

0 0 10
0 1 20
0 2 30
1 0 40
1 1 50
1 2 60
2 0 70
2 1 80
2 2 90

### 활동노트 : OO텔레콤 요금  관리 프로그램 만들기

In [6]:
name = ["홍길동", "이순신", "황진이"]
gender = ["남", "남", "여"]
time = [100, 50, 72]
discount = ["없음", "청소년", "국가 유공자"]

user = 0
price = 0
total_m = 0
total_w = 0
total_all = 0

user = len(name)
print("전체 사용자 수: ", user)

for i in range(user):
    price = time[i] * 60 * 2
    print(i, "번 사용자의 요금은", price)
    
    if (gender[i] == "남"):
        total_m = total_m + price
        
    if (gender[i] == "여"):
        total_w = total_w + price
    
    total_all = total_all + price
    
print("남자 회원들이 사용한 요금 합은", total_m)
print("여자 회원들이 사용한 요금 합은", total_w)
print("남녀 모든 회원들이 사용한 요금 합은", total_all)

전체 사용자 수:  3
0 번 사용자의 요금은 12000
1 번 사용자의 요금은 6000
2 번 사용자의 요금은 8640
남자 회원들이 사용한 요금 합은 18000
여자 회원들이 사용한 요금 합은 8640
남녀 모든 회원들이 사용한 요금 합은 26640

In [8]:
name = ["홍길동", "이순신", "황진이"]
gender = ["남", "남", "여"]
time = [100, 50, 72]
discount = ["없음", "청소년", "국가 유공자"]

user = 0
price = 0
total_m = 0
total_w = 0
total_all = 0

user = len(name)
print("전체 사용자 수: ", user)

for i in range(user):
    price = time[i] * 60 * 2

    if (discount[i] == "청소년"):
        price = price - price * 0.2
        
    if (discount[i] == "국가 유공자"):
        price = price - price * 0.3
    
    print(i, "번 사용자의 요금은", price)
    
    if (gender[i] == "남"):
        total_m = total_m + price
        
    if (gender[i] == "여"):
        total_w = total_w + price
    
    total_all = total_all + price
    
print("남자 회원들이 사용한 요금 합은", total_m)
print("여자 회원들이 사용한 요금 합은", total_w)
print("남녀 모든 회원들이 사용한 요금 합은", total_all)

전체 사용자 수:  3
0 번 사용자의 요금은 12000
1 번 사용자의 요금은 4800.0
2 번 사용자의 요금은 6048.0
남자 회원들이 사용한 요금 합은 16800.0
여자 회원들이 사용한 요금 합은 6048.0
남녀 모든 회원들이 사용한 요금 합은 22848.0